html, body {
	/* Блочная модель */
	margin: 0;
	padding: 0;

	/* Типографика */
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	text-transform: uppercase;
	text-align: center;

	/* Оформление */
	background-color: white;
}

/* body {
	background-image: url("../img/backgrounds/sedona-index-1200.jpg");
	background-position: top center;
	background-repeat: no-repeat;
} */

h2, h3 {
	/* Блочная модель */
	margin: 0;

	/* Типографика */
	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
}

a {
	/* Типографика */
	text-decoration: none;
}

a:hover,
a:focus {
	color: #81b3d2;
}

a:click {
	color: #cacaca;
}

a:active {
	color: #766357;
}

p {
	/* Блочная модель */
	padding-top: 32px;
	margin: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.container {
	/* Блочная модель */
	max-width: 1200px;
	margin: 0 auto;
}

.site-navigation {
	/* Блочная модель */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;

	/* Типографика */
	line-height: 26px;

	/* Оформление */
	list-style: none;
}

.site-navigation li {
	/* Блочная модель */
	width: 20%;

	/* Типографика */
	text-align: center;
}

.site-navigation a:not(.main-header-logo) {
	/* Типографика */
	color: black;
}

.main-header-logo {
	position: relative;

	height: 55px;
	display: block;
}

.main-header-logo img {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;

	margin: 0 auto;
}

.intro h2 {
	/* Блочная модель */
	padding-top: 55px;
	padding-bottom: 0px;
	margin: 0 auto;
	max-width: 490px;

	/* Типографика */
	line-height: 26px;
}

.intro p {
	/* Блочная модель */
	padding-top: 30px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.feature {
	/* Блочная модель */
	display: flex;
	align-items: center;

	/* Типографика */
	text-align: center;
	color: white;

	/* Оформление */
	background-color: #81b3d2;
}

.feature.feature-reverse {
	/* Блочная модель */
	flex-direction: row-reverse;
}

.left-side {
	padding-left: 60px;
	padding-right: 60px;
}

.recommendations {
	/* Блочная модель */
	display: flex;
}

.recommendations .recommendations-item {
	/* Блочная модель */
	width: 33%;
}

.recommendations .recommendations-item h3 {
	/* Позиционирование */
	position: relative;

	/* Блочная модель */
	padding-top: 164px;
}

.recommendations .recommendations-item h3::before {
	content: "";

	/* Позиционирование */
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;

	/* Блочная модель */
	width: 75px;
	height: 76px;
	margin: 0 auto;

	/* Оформление */
	background-repeat: no-repeat;
}

.recommendations .recommendations-item.house h3::before {
	/* Оформление */
	background-image: url("../img/icons/house.svg");
}

.recommendations .recommendations-item.food h3::before {
	/* Оформление */
	background-image: url("../img/icons/food.svg");
}

.recommendations .recommendations-item.souvenirs h3::before {
	/* Оформление */
	background-image: url("../img/icons/souvenirs.svg");
}

.recommendations .recommendations-item p:last-child {
	padding-bottom: 90px;
}

.features-list {
	/* Блочная модель */
	display: flex;

	/* Типографика */
	text-align: center;

	/* Оформление */
	background-color: #eeeeee;
}

.features-list .features-item {
	/* Блочная модель */
	width: 33%;
	padding-left: 70px;
	padding-right: 70px;
}

.features-list .features-item h3 {
	/* Блочная модель */
	padding-top: 50px; 

	/* Блочная модель */
	margin: 0;

	/* Типографика */
	color: black;
}

.features-list .features-item p:last-child {
	padding-bottom: 65px;
}

.hotels-search {
	/* Типографика */
	text-align: center;
}

.hotels-search h2 {
	/* Блочная модель */
	padding-top: 60px;
	margin: 0;

	/* Типографика */
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

/* ???? */
.hotels-search > p {
	/* Блочная модель */
	padding: 0;

	/* Типографика */
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
}

.hotels-search > p:first-of-type {
	/* Блочная модель */
	padding-top: 40px;
}

.hotels-search > p:last-of-type {
	/* Блочная модель */
	padding-bottom: 55px;
}

.hotels-search button {
	/* Типографика */
	font: inherit;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	color: white;

	/* Оформление */
	border: none;
}

.hotels-search .button-brown {
	/* Блочная модель */
	width: 568px;
	min-height: 86px;
}

.hotels-search > div {
	/* Позиционирование */
	position: relative;
}

.hotels-search form {
	/* Позиционирование */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;

	/* Блочная модель */
	margin: 0 auto;
	width: 568px;

	/* Типографика */
	text-align: left;

	/* Оформление */
	background-color: white;
}

.hotels-search .search-form {
	/* Типографика */
	font-weight: bold;
}

.hotels-search .search-form .search-form-item {
	/* Блочная модель */
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.hotels-search .search-form > .search-form-item {
	/* Блочная модель */
	padding-top: 30px;
}

.hotels-search .search-form > .search-form-item:first-child {
	/* Блочная модель */
	padding-top: 55px;
}

.search-form-item button:not(.button-blue) {
	/* Блочная модель */
	width: 40px;
	min-height: 40px;
	border: none;
	border-radius: 0px;

	/* Типографика */
	color: #a9a9a9;

	/* Оформление */
	outline: none;
	background-color: #f2f2f2;
	cursor: pointer;
}

.search-form-item .calendar {
	/* Типографика */
	font-size: 0;

	/* Оформление */
	background-image: url("../img/icons/calendar.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.search-form-item.half-width {
	/* Блочная модель */
	width: 50%;
}

.search-form-item.half-width input {
	/* Блочная модель */
	width: 40px;
}

.search-form-item input {
	/* Блочная модель */
	width: 306px;
	height: 38px;

	/* Типографика */
	font: inherit;

	/* Оформление */
	outline: none;
	border: none;
	background-color: #f2f2f2;
}

.search-form-item input:hover {
	/* Оформление */
	background-color: #ebebeb;
}

.search-form-item input:focus {
	/* Оформление */
	background-color: white;
	border: 2px solid #e5e5e5;
	outline: none;
}

.search-form-item .button-blue {
	/* Блочная модель */
	margin-top: 55px;
	margin-bottom: 55px;
	min-height: 58px;
	width: 458px;
}

.button-brown {
	/* Типографика */
	color: white;

	/* Оформление */
	background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
	/* Оформление */
	background-color: #604e43;
}

.button-brown:active {
	/* Типографика */
	color: #928a85;

	/* Оформление */
	background-color: #503e33;
}

.button-blue {
	/* Типографика */
	color: white;

	/* Оформление */
	background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
	/* Оформление */
	background-color: #669ec0;
}

.button-blue:active {
	/* Типографика */
	color: #94b9d2;

	/* Оформление */
	background-color: #5496bd;
}

.hotels-filter {
	/* Оформление */
	background-image: url("../img/backgrounds/intro.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.hotels-filter-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.range-filter-section {
	flex-basis: 600px;
}

/* .page-footer {
	position: relative;
} */

.page-footer {
	display: flex;
	align-items: center;
}

.page-footer > div {
	width: 33%;
}

.footer-tag {
	font-weight: bold;
	font-size: 21px;
}

.footer-social ul {
	/* Блочная модель */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	width: 150px;

	/* Типографика */
	text-align: center;

	/* Оформление */
	list-style: none;
}

.footer-social .social-button  {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	margin-top: 35px;
	margin-bottom: 35px;
	background-color: #81b3d2;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
	background-color: #669ec0;
}

.footer-social .social-button:active {
	background-color: #5496bd;
}

.footer-social .social-button:active path {
	fill: #88b6d1;
}

.footer-copyright {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-copyright b {
	padding-right: 10px;
}

.footer-copyright:hover path,
.footer-copyright:focus path,
.footer-copyright:hover rect,
.footer-copyright:focus rect {
	fill: #81b3d2;
}

.footer-copyright:active path,
.footer-copyright:active rect  {
	fill: #bdbbbc;
}

.footer-social a {
	/* Типографика */
	color: black;
}

.footer-social a:hover,
.footer-social a:focus {
	/* Типографика */
	color: #81b3d2;
}